flows_TRONGDAT.json
[{"id":"bcc0c76f.c5c1c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"55cc929e.d317ec","type":"inject","z":"bcc0c76f.c5c1c8","name":"HelloWorld ","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello world","payloadType":"str","x":200,"y":200,"wires":[["ac226c0b.1d43b"]]},{"id":"6eb6dfb5.2cfa6","type":"debug","z":"bcc0c76f.c5c1c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":160,"wires":[]},{"id":"ac226c0b.1d43b","type":"switch","z":"bcc0c76f.c5c1c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Hello world","vt":"str"},{"t":"neq","v":"Hello world","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":200,"wires":[["6eb6dfb5.2cfa6"],["541a4562.f3ca8c"]]},{"id":"541a4562.f3ca8c","type":"change","z":"bcc0c76f.c5c1c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Goodbye ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":320,"wires":[["6eb6dfb5.2cfa6"]]}]